<configuration>
    <appSettings>
        <!-- provedor de acesso -->
        <add key="provider" value="System.Data.SqlClient" />
    </appSettings>
    <connectionStrings>
        <add name="sqlserver_workgroup" connectionString="Data Source=mssql-server;Initial Catalog=Workgroup;User ID=sa;Password=p@ssw0rd" />
        <!-- <add name="sqlserver_workgroup" connectionString="Data Source=fx8350-win\sqlexpress2016;Initial Catalog=Workgroup;User ID=sa;Password=adm" /> -->
    </connectionStrings>
</configuration>